@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Before you begin";
    
    var retUrl = Url.GetQuery("returnUrl");
    var returnUrl = string.IsNullOrEmpty(retUrl) ? "~/FundApplication/section/application-overview" : retUrl;
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Before you begin</h1>
            <p class="govuk-body">You will be signed out of the service if you do not save your work for 30 minutes. This is to keep your information secure. You will lose any unsaved changes you make.</p>
            <p class="govuk-body">You should save regularly to avoid losing your work.</p>
            <a href="@returnUrl">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </a>
        </div>
    </div>
</main>
