@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Signed out due to inactivity";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You have been signed out due to inactivity</h1>

        <p class="govuk-body">Any unsaved changes have been lost to protect your data.</p>

        <a href="~/FundApplication/section/application-overview">
            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>
        </a>

        <p class="govuk-body"><a class="govuk-link" href="~/">Return to fund landing page</a></p>

    </div>

</div>

</main>