<p class="govuk-body"><strong>You must upload a detailed project plan relating to the information you've given in <span class="govuk-colour--blueunderline">step 5.14.</span></strong></p>

<p class="govuk-body">We recommend uploading a Gantt chart to show your project plan.</p>
<p class="govuk-body">You can download and use the Gantt chart template we've provided, or use your own.</p>