<p class="govuk-body-s">You need to tell us your concept's current stage of development, including evidence and information about:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>the technology readiness level of your concept</li>
    <li>studies and research you've completed</li>
    <li>obstacles and risks to your concept, and how likely you are to overcome them</li>
</ul>

