<p class="govuk-body-s">
    Explain your innovation&#39;s current stage of development.
    Include evidence and information about:
</p>


<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>the technology readiness level of your innovation (see below)</li>
    <li>how your technology works</li>
    <li>studies and research you&#39;ve already completed</li>
    <li>obstacles and risks to your innovation, and how likely you are to overcome them</li>
</ul>


<p class="govuk-body-s"><strong>You can upload a supporting document in <span class="govuk-colour--blueunderline">step 5.5.</span> (optional)</strong></p>

<p class="govuk-body-s">You need to complete this section in full. Your uploaded document can not be used in place of an answer.</p>

