<p class="govuk-body-s">
    Describe any environmental impact that your project may cause, if relevant. This may include:
</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>emissions</li>
    <li>noise or vibrations</li>
    <li>visual intrusions</li>
</ul>

<p class="govuk-body-s">
    You should also describe what you're doing to minimise the environmental impact of your project.
</p>
<p class="govuk-body-s"> <strong>This section does not relate to the potential positive environmental benefits of your project, like lowering CO2 emissions. This is covered in <span class="govuk-colour--blueunderline">step 5.12.</span> (Impact of climate change).</strong></p>

