<p class="govuk-body-s">Describe the relevant skills and experience that will allow you to deliver your project.</p>

<p class="govuk-body-s">This should include a summary of the main people involved in your delivery team.</p>

<p class="govuk-body-s">You should also describe the experience of partner organisations, including their key people, if this applies.</p>

<p class="govuk-body-s">BEIS is particularly interested in your and your partners' experience in:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>project management</li>
    <li>business development</li>
    <li>managing and raising finance</li>
    <li>getting technology to market</li>
</ul>

<p class="govuk-body-s">You should also highlight details of relevant industry contacts and supply chain relationships you have which will allow you to complete your project.</p>


<p class="govuk-body-s">If your organisation or partnership has any skills or expertise gaps, you should also note them here.</p>


<p class="govuk-body-s"><strong>You can upload supporting information about your skills and experience in <span class="govuk-colour--blueunderline">step 5.19.</span> (optional)</strong></p>
