<p class="govuk-body-s">Describe your proposed concept. You should include information and supporting evidence about:</p>

<ul class="govuk-body-s govuk-list govuk-list--bullet">
    <li>what makes your concept different to existing products or services</li>
    <li>your target marketplace and its estimated value</li>
    <li>how your concept provides value to customers</li>
    <li>other sectors you could target in the concept's first 3 years</li>
    <li>your competitors</li>
</ul>
