<p class="govuk-body-s">List any regulations and requirements that you need to comply with during your project.</p>

<p class="govuk-body-s">This may include:</p>


<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>planning consent for new buildings or modifications to existing ones</li>
    <li>environmental permits for your work</li>
    <li>safety policies and procedures</li>
    <li>data storage</li>
</ul>
