<p class="govuk-body-s">Describe your concept's potential impact on climnate change. You should include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>how your concept will affect climate change or security of energy supply </li>
    <li>how the grant will give BEIS value for money</li>
    <li>potential reductions of carbon or greenhouse gas emissions which could be made once your concept is on the market</li>
    <li>when your concept will start to have an impact on climate change</li>
</ul>
