<p class="govuk-body-s">List any regulations and requirements that you need to comply with during your project. This may include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>planning consent for buildings</li>
    <li>environmental permits</li>
    <li>industry-specific requirements</li>
</ul>