<p class="govuk-body-s">Describe the practical steps and actions you will take to develop your innovation.</p>

<p class="govuk-body-s">Make sure you include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>important milestones and when you expect to reach them</li>
    <li>what you need to reach these milestones</li>
    <li>other organisations you plan to work with</li>
    <li>the Technology Readiness Level (TRL) you expect to reach at the end of the project</li>
</ul>


<p class="govuk-body-s"><strong>You also need to upload a detailed Gantt chart in the next section outlining your project plan.</strong> </p>