<p class="govuk-body">You need to upload a risk register for your project. A risk register helps us understand that you are aware of the factors which may cause problems during your project. We also need to know that you are taking measures to minimise these risks and have a plan if they happen.</p>


<p class="govuk-body">Your risk register needs to include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>risks to your project</li>
    <li>how likely they are</li>
    <li>what measures you’re taking to prevent them, or minimise their impact</li>
</ul>


<p class="govuk-body">You can <a href="~/media/EEF9 Q5.17. Risk register template.xlsx" download class="govuk-link govuk-!-font-weight-regular">download a risk register template</a> or use your own.</p>
              
