<p class="govuk-body-s">Describe the facilities your project requires, and how they might change over time. This includes:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>your location</li>
    <li>buildings</li>
    <li>energy and data needs</li>
    <li>site co-location</li>
    <li>system integration, inputs or conditions</li>
</ul>