<p class="govuk-body-s">Give a brief outline of the cost and performance improvements which your innovation offers.</p>

<p class="govuk-body-s">This could include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>your technology&#39;s current cost and performance</li>
    <li>its cost and performance at the end of your project</li>
    <li>target costs and performance at scale</li>
    <li>how your innovation performs against existing technology</li>
    <li>assumptions you&#39;ve made to support your sales and profit figures</li>
</ul>

<p class="govuk-body-s govuk-!-font-weight-bold">You can upload evidence to support the claims you've made in <span class="govuk-colour--blueunderline">step 5.7.</span></p>