<p class="govuk-body-s">Describe the facilities you need for your project, and how they might change over time.</p>

<p class="govuk-body-s">This may include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>your project's location</li>
    <li>buildings</li>
    <li>energy and data needs</li>
    <li>site co-location</li>
    <li>system integration, inputs or conditions</li>
    <li>extra space you may need to rent temporarily</li>
</ul>

<p class="govuk-body-s">You should also give details of any existing systems you need to integrate to develop your innovation.</p>

<p class="govuk-body-s">You should include evidence where you can.</p>