<p class="govuk-body-s">Describe your skills and experience which will help you deliver your project.</p>

<p class="govuk-body-s">This could include details of past projects your team has worked on, or relevant industry expertise.</p>

<p class="govuk-body-s"> You should also note the relevant experience of the main people involved in the project. This includes the management team and other people who will have an important role.</p>

<p class="govuk-body-s">You should also describe the experience of partner organisations, including their key people, if this applies.</p>

<p class="govuk-body-s">BEIS is particularly interested in your and your partners' experience in:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>project management</li>
    <li>business development</li>
    <li>managing and raising finance</li>
    <li>getting technology to market</li>
</ul>

<p class="govuk-body-s">You should also highlight details of relevant industry contacts and supply chain relationships you have which will allow you to complete your project.</p>

<p class="govuk-body-s">EEF offers acceleration support to help companies develop and grow their business. If you think you may benefit from any extra knowledge or skills, tell us why in this section.</p>