<p class="govuk-body-s">Describe your innovation. You should include information and supporting evidence about:</p>

<ul class="govuk-body-s govuk-list govuk-list--bullet">
    <li>what makes your innovation different to existing products or services</li>
    <li>your target marketplace, its estimated value and how many sales you might expect from it</li>
    <li>how your innovation provides value to customers</li>
    <li>other sectors you could target in the innovation's first 3 years</li>
    <li>your competitors</li>
</ul>

<p class="govuk-body-s"><strong>You can upload a supporting document in <span class="govuk-colour--blueunderline">step 5.2.</span></strong></p>