
<p class="govuk-body-s">Describe how you will judge the success of your concept. Make sure you include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>the top 3 critical success factor and how you will measure them</li>
    <li>the main challenges you will face</li>
    <li>project management tools you'll use</li>
</ul>