<p class="govuk-body-s">Describe the practical steps and details you will take to develop your concept. Make sure you include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>your technical approach, and why you're using it</li>
    <li>important milestones of the project and when you expect to achieve them</li>
    <li>what you need to achieve these milestones</li>
    <li>other organisations you plan to work with</li>
    <li>the Technology Readiness Level (TRL) you expect your concept to reach at the project's conclusion</li>
</ul>