<p class="govuk-body-s">Explain how you will make money from your concept. Include information and supporting evidence about:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>your concept's business model</li>
    <li>how you'll sell it</li>
    <li>the number of sales you might expect from your target market</li>
    <li>how a successful project might affect your organisation</li>
</ul>

