<p class="govuk-body-s">Describe your innovation's potential impact on climate change.</p>

<p class="govuk-body-s">You should include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>general benefits of your innovation in relation to climate change or UK energy supply</li>
    <li>your innovation's potential impact on 2050 Net Zero targets </li>
    <li>how your innovation will affect climate change or security of energy supply </li>
    <li>how the grant will give BEIS value for money</li>
    <li>potential reductions in carbon or greenhouse gas emissions once your innovation is on sale</li>
    <li>when your innovation will start to have an impact on climate change</li>
</ul>

<p class="govuk-body-s">Use scientific studies and research to prove your claims where you can.</p>


<p class="govuk-body-s"><strong>You can upload a supporting document in <span class="govuk-colour--blueunderline">step 5.13.</span></strong> (optional)</p>