<p class="govuk-body-s">Describe how you will judge your project's success. You should also outline any potential problems you've identified.</p>

<p class="govuk-body-s">Make sure you include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>the top 3 critical success factors and how you will measure them</li>
    <li>the main challenges you will face</li>
    <li>project management tools you'll use</li>
</ul>

<p class="govuk-body-s"><strong>You need to upload a risk register in <span class="govuk-colour--blueunderline">step 5.17</span></strong> which lists potential issues during your project.</p>