@model string  

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Feasibility study
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>A feasibility study evaluates and analyses a project. It aims to find its: </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>strengths</li>
                <li>weaknesses</li>
                <li>opportunities</li>
                <li>threats</li>
            </ul>

            <p class='govuk-body'>Feasibility studies also identify what resources are needed to complete the project, as well how likely it is to successfully meet its objectives. </p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-2" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Industrial research
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>Industrial research involves planned research or investigation aiming to gain new knowledge and skills for:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>developing new products, processes, or services</li>
                <li>significantly improving existing products, processes, or services.</li>
            </ul>

            <p class='govuk-body'>Work may include, but isn't limited to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>making component parts for complex systems</li>
                <li>building prototypes in a lab, or with simulated interfaces to existing systems</li>
                <li>short manufacturing runs (pilot lines) if relevant</li>
            </ul>

        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-3" aria-controls="@Model-accordion-default-content-3" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Experimental development
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>Experimental development aims to develop new or improved products, processes, and services. It uses existing relevant knowledge and skills in fields including:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>technology</li>
                <li>science</li>
                <li>business</li>
            </ul>

            <p class='govuk-body'>Work involved in experimental development may include, but is not limited to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>prototyping</li>
                <li>demonstrations</li>
                <li>testing and validation, including pilot tests</li>
            </ul>

            <p class='govuk-body'>These could be completed in simulated or real-life situations.</p>
            <p class='govuk-body'>Common results of experimental development include:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>prototypes and pilots (including versions which could be used commercially)</li>
                <li>improvements to products or services</li>
            </ul>

            <p class='govuk-body'>Experimental development does not need to result in a final product.</p>
            <p class='govuk-body'>Routine changes to existing products, processes or services are not classed as experimental development.</p>


        </div>
    </div>
</div>