
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    In-kind contributions
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">In-kind contributions are valuable items or services which you may benefit from during your project which you don't have to pay for. Or, if you do have to pay, it will be a relatively small fee compared to market value.  </p>
            <p class="govuk-body-s">They may include: </p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>universities working for free (or a very small fee) </li>
                <li> using another organisation's equipment or facilities </li>
                <li>people working voluntarily, like interns </li>
            </ul>
            <p class="govuk-body-s">Your project doesn't necessarily need any in-kind contributions to win funding from EEF. However, they can show good value for money. </p>
        </div>
    </div>



</div>
