@model string 
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Assessment criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>what is the basis of your calculations?</li>
                <li>does your innovation save carbon directly, or will it be an enabler?</li>
                <li>when can you get your innovation to market?</li>
                <li>is it likely your innovation will be widely adopted?</li>
                <li>when will your innovation start having an impact on 2050 net zero targets or the security of energy supply?</li>
                <li>what is the likely impact over different timescales?</li>
                <li>how does it compare to the benefits of similar technology?</li>
                <li>does your technology lower the cost of carbon reduction for its target market?</li>
                <li>is your project’s impact on 2050 targets or energy supply security attractive at its current development stage?</li>
                <li>will your innovation have an impact on carbon targets or UK energy supply when on sale?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    How your innovation will affect climate change or energy supply
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Explain how your innovation will affect climate change or help secure the UK's energy supply.</p>
            <p class="govuk-body-s">For instance, the innovation may:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>change users’ behaviour</li>
                <li>reduce energy usage</li>
                <li>lower the cost of maintenance or extend existing equipment's lifespan</li>
                <li>improve existing materials' performance</li>
                <li>help UK energy supply through generation or storage</li>
            </ul>
            <p class="govuk-body-s">Also state if there are any other competing developments which may improve on your innovation, if you’re aware of them.</p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-2" aria-controls="@Model-accordion-default-content-3" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    How the grant will give BEIS value for money
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Estimate how much CO2 could be saved in relation to the total grant you are applying for.</p>
            <p class="govuk-body-s">You should also explain how you calculated this number.</p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-3" aria-controls="@Model-accordion-default-content-4" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Potential reductions of carbon or greenhouse gas emissions
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">Estimate how much carbon or greenhouse gas could be reduced when your innovation is available.</p>
            <p class="govuk-body-s">You should base your prediction on:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>carbon savings per unit</li>
                <li>potential market size</li>
                <li>sales you could expect</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-4" aria-controls="@Model-accordion-default-content-5" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    When your innovation will start to have an impact on climate change
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body-s">Estimate when your innovation may start to affect climate change.</p>
            <p class="govuk-body-s">You should base this on: </p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>when your innovation becomes available</li>
                <li> how long it will take to be widely adopted</li>
            </ul>
        </div>
    </div>
</div>



