@model string

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Assessment criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>is there a clear problem your innovation solves?</li>
                <li>have you identified and understood your target market?</li>
                <li>is the market large enough to support a business?</li>
                <li>is there strong evidence for market potential?</li>
                <li>do you understand your competitors?</li>
                <li>does your innovation have a unique selling point?</li>
                <li>is the overall business opportunity realistic and compelling?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    How is your innovation different to existing products or services?
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Describe how your innovation improves on products or services which are already available.</p>
            <p class="govuk-body-s">For example, your idea may be:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>more effective</li>
                <li>cheaper</li>
                <li>more versatile</li>
                <li>better value</li>
                <li>easier to use</li>
            </ul>
            <p class="govuk-body-s">Give as much detail as possible and use evidence to prove your claims when you can.</p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-2" aria-controls="@Model-accordion-default-content-3" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Target marketplace and estimated value
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Describe who you might sell your product to.</p>
            <p class="govuk-body-s">This should include:</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Sector</p>
            <p class="govuk-body-s">The main industries which could use your innovation.</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Location</p>
            <p class="govuk-body-s">Give details of where your innovation could be used.</p>
            <p class="govuk-body-s">This could be:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>locally</li>
                <li>regionally</li>
                <li>nationally</li>
                <li>internationally</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-2a" aria-controls="@Model-accordion-default-content-4" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    The number of sales you could reasonably expect from your target market
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2a" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2a">
            <p class="govuk-body-s">Give details and evidence of:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>existing or potential customers</li>
                <li>market research and analysis</li>
                <li>how much money you could make from sales</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-3" aria-controls="@Model-accordion-default-content-5" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Value
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">Enter your target marketplace's estimated value, with evidence.</p>
            <p class="govuk-body-s">This could include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>independent studies</li>
                <li>data from the Office of National Statistics</li>
                <li>academic research</li>
                <li>your own research</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-4" aria-controls="@Model-accordion-default-content-6" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Your innovation's value to customers
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body-s">Describe how your innovation could benefit potential customers.</p>
            <p class="govuk-body-s">This may include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>the particular problem it solves</li>
                <li>how it improves on current products or services</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-5" aria-controls="@Model-accordion-default-content-7" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Other sectors you will target in the innovation's first 3 years
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            <p class="govuk-body-s">Are there any other:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>sectors which could use your innovation?</li>
                <li> possible uses for it?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-6" aria-controls="@Model-accordion-default-content-8" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Your competitors
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
            <p class="govuk-body-s">List the organisations which offer products or services similar to your innovation, which you know of.</p>
        </div>
    </div>

</div>