<div class="govuk-accordion govuk-!-font-size-16" data-module="govuk-accordion" id="accordion-default">

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-0">
                    Assessment criteria
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>is your technical approach appropriate?</li>
                <li>have you planned your work and project milestones realistically?</li>
                <li>are your timeframe and costs realistic?</li>
                <li>do you have enough skills in place, and if not can you recruit them?</li>
                <li>will your project deliverables show progress and increased value?</li>
                <li>is the technology readiness level you’ve said you’ll reach at the end of the project realistic?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    Technical approach and milestones
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Details you could give include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>alternative research and development (R&D) approaches and why your approach is better</li>
                <li>how important milestones depend on other factors in the project</li>
                <li>major achievements you expect to reach</li>
                <li>any points in the project where you will have to make go/no-go decisions</li>
            </ul>
        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                    Other organisations you plan to work with
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">List other organisations you will work with to develop your innovation. </p>
            <p class="govuk-body-s"> This may include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>collaborators</li>
                <li>customers</li>
                <li>suppliers </li>
                <li>subcontractors</li>
                <li>research organisations</li>
                <li>certifying bodies</li>
            </ul>
        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                    Technology Readiness Level (TRL)
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">You need to select the TRL you expect to reach at the end of the project.</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>TRL 1 – Basic research</li>
                <li>TRL 2 – Applied research</li>
                <li>TRL 3 – Proof of feasibility</li>
                <li>TRL 4 – Practical demonstrations</li>
                <li>TRL 5 – Technology proven in relevant environment</li>
                <li>TRL 6 – Demonstration prototype</li>
                <li>TRL 7 – Operational prototype</li>
                <li>TRL 8 – Production prototype</li>
                <li>TRL 9 – Marketable product</li>
            </ul>
            <p class="govuk-body-s">You can find more information on Technology Readiness Level in Appendix 2 of the guidance PDF.</p>
        </div>
    </div>



</div>