<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__controls">
    <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>


    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-0" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Assessment criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>have you identified your business model and route to market?</li>
                <li>does your proposed business model fit with your current development stage?</li>
                <li>is your business model realistic, and does it make sense?</li>
                <li>can you make money from the project’s outcomes?</li>
                <li>do you understand your marketplace’s potential?</li>
                <li>have you predicted a realistic number of sales?</li>
            </ul>
        </div>
    </div>




    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Your innovation's business model
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">You should provide details about:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>products, services, or applications you will sell</li>
                <li>pricing</li>
                <li>how you will grow your market share</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    How you will sell your innovation
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Describe how you will sell your innovation to customers.</p>
            <p class="govuk-body-s">This could include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>direct sales</li>
                <li>sales through third parties</li>
                <li>subscription models</li>
                <li>one-off sales</li>
                <li>contracts</li>
            </ul>
        </div>
    </div>



    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    How a successful project might affect your organisation
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">Describe how the project will change your business if it’s successful.</p>
            <p class="govuk-body-s">This may include, for example:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>increased turnover or profits</li>
                <li>needing to take on more staff or subcontractors</li>
                <li>moving to a new building</li>
                <li>opening more sites</li>
            </ul>
        </div>
    </div>


</div>