<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    How your concept will affect climate change or energy supply
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">You should describe how your concept will affect climate change or security of energy supply.</p>
            <p class="govuk-body-s">Will the concept:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>change users’ behaviour?</li>
                <li>result in reduced energy usage?</li>
                <li>reduce the cost of maintenance or extend the lifespan of existing equipment?</li>
                <li>improve the performance of existing materials?</li>
                <li>help UK energy supply through generation or storage?</li>
            </ul>
            <p class="govuk-body-s">Also state if there are any other competing developments which may improve on your concept, if you’re aware of them.</p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                    How the grant will give BEIS value for money
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Estimate how much CO2 could be saved in relation to the total grant you are applying for.</p>
            <p class="govuk-body-s">You should also explain how you calculated this number.</p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                    Potential reductions of carbon or greenhouse gas emissions
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">Estimate how much carbon or greenhouse gas could be reduced when your concept is available.</p>
            <p class="govuk-body-s">You should base your prediction on:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>carbon savings per unit</li>
                <li>potential market size</li>
                <li>sales you could expect</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                    When your concept will start to have an impact on climate change
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body-s">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </li>
                <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </li>
                <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </li>
            </ul>
        </div>
    </div>

</div>