<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    Success factors and challenges
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">List the factors which you will use to judge whether your project is successful, and why.</p>
            <p class="govuk-body-s">You should also describe challenges to your project and how you might overcome them.</p>
        </div>
    </div>
</div>