@model string
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Assessment criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>is your project's scope realistic?</li>
                <li>what are the key risks to your project?</li>
                <li>have you sufficiently described any challenges?</li>
                <li>have you identified your projec's success factors and risks?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Success factors and challenges
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">List the factors which you will measure to judge whether your project is successful, and why. </p>
            <p class="govuk-body-s">You should also describe challenges to your project and how you may overcome them.</p>
        </div>
    </div>

</div>