@model string  

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Gantt charts                    
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">A Gantt chart is a project management tool. They show timelines, tasks, phases and how activities relate to each other. They also show who is responsible for different tasks.</p>
            <p class="govuk-body-s">We strongly recommend using a Gantt chart to show your project plan. You can use one you've designed yourself or use the template we've provided. </p>
        </div>
    </div>

</div>