<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    Regulatory requirements
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Describe the regulatory requirements you need to meet to develop your concept legally.</p>
            <p class="govuk-body-s">This could include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>planning consent for new buildings or modifications to existing ones</li>
                <li>environmental permits</li>
                <li>safety policies and procedures</li>
                <li>laws regarding data storage</li>
            </ul>
        </div>
    </div>
</div>