@model string  
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Experience and skills
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">BEIS needs to know that your team can deliver your proposal. Examples of experience and expertise can help us with this.</p>
            <p class="govuk-body-s">Useful examples may include:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>past projects you’ve worked on</li>
                <li> industry experience</li>
                <li>sector expertise</li>
                <li>academic background</li>
            </ul>
            <p class="govuk-body-s">You should also include background information of people who will have an important role on the project. This includes your own organisation and any others in your consortium.</p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-2" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Contacts and supply chain
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Describe the industry contacts and supply chain relationships you have which will allow you to complete your project.</p>
            <p class="govuk-body-s">This could include: </p>

            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>professional or industry networking groups you belong to</li>
                <li> contacts you’ve worked with before</li>
                <li>current suppliers</li>
                <li>suppliers you’ve already approached</li>
            </ul>

        </div>
    </div>
</div>