@model string
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Assessment criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <p class="govuk-body-s">Factors our assessors will consider include, but are not limited to:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>does your chosen TRL reflect your work and costs to date?</li>
                <li>does your innovation improve on existing or competing products or services?</li>
                <li>have you planned your innovation appropriately, based on proven data or technical assumptions?</li>
                <li>are the technical risks you’ve encountered likely?</li>
                <li>will you be able to overcome the technical risks?</li>
            </ul>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Technology Readiness Level (TRL)
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Technology Readiness Level (TRL) is a method of judging a innovation’s development.</p>
            <p class="govuk-body-s"> To be eligible for EEF support, your innovation needs to have reached at least Technology Readiness Level 3 (TRL3).</p>

            <p class="govuk-body-s">Your project may be at TRL3 if you:</p>

            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>have evidence that your project can be built or developed</li>
                <li>can confidently describe how it works</li>
            </ul>

            <p class="govuk-body-s">Projects which have reached TRL 9 (marketable product) are not eligible for support from EEF.</p>

            <p class="govuk-body-s">The stages of Technology Readiness Level are:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>TRL 1 – Basic research</li>
                <li>TRL 2 – Applied research</li>
                <li>TRL 3 – Proof of feasibility</li>
                <li>TRL 4 – Practical demonstrations</li>
                <li>TRL 5 – Technology proven in relevant environment</li>
                <li>TRL 6 – Demonstration prototype</li>
                <li>TRL 7 – Operational prototype</li>
                <li>TRL 8 – Production prototype</li>
                <li>TRL 9 – Marketable product</li>
            </ul>
            <p class="govuk-body-s">You can find more detailed information on Technology Readiness Level in Appendix 2 of the guidance PDF.</p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">

                <button type="button" id="accordion-default-heading-2" aria-controls="@Model-accordion-default-content-3" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Obstacles and risks
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Explain the technical problems you need to overcome for your innovation to progress.</p>
            <p class="govuk-body-s">You also need to state how likely you are to overcome these problems, as either:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>low</li>
                <li>medium</li>
                <li>high</li>
            </ul>
            <p class="govuk-body-s">Use evidence where possible.</p>
        </div>
    </div>
</div>