
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    How is your concept different to existing products or services?
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">For example, your idea may be:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>more effective</li>
                <li>cheaper</li>
                <li>more versatile</li>
                <li>better value</li>
                <li>easier to use</li>
            </ul>
            <p class="govuk-body-s">than products or services which are currently sold. Give as much detail as possible and use evidence to prove your claims when you can.</p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                    Target marketplace and estimated value
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">You should describe the target marketplace of your concept.</p>
            <p class="govuk-body-s">This should include:</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Sector</p>
            <p class="govuk-body-s">The main industry which could use your concept.</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Location</p>
            <p class="govuk-body-s">Give details of where your concept could be used.</p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                    Value
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body-s">The estimated worth of the marketplace, with supporting evidence.</p>
        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                    Your concept's value to customers
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body-s">You should describe how your concept could benefit customers.</p>
            <p class="govuk-body-s">This includes:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>the particular problem your concept solves</li>
                <li>how it improves on current products or services</li>
                <li>do something else</li>
            </ul>
        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-5">
                    Other sectors you will target in the concept's first 3 years
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            <p class="govuk-body-s">Are there any other:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>sectors which could use your concept?</li>
                <li>other possible uses for it?</li>
            </ul>
        </div>
    </div>


    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-6">
                    Your competitors
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
            <p class="govuk-body-s">List the organisations which provide relatively similar products or services.</p>
        </div>
    </div>


</div>