<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    Technology Readiness Level (TRL)
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Technology Readiness Level (TRL) is a method of judging a concept’s development.</p>
            <p class="govuk-body-s"> To be eligible for EEF support, your concept needs to have reached at least Technology Readiness Level 3 (TRL3).</p>
            <p class="govuk-body-s">The stages of Technology Readiness Level are:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>TRL 1 – Basic research</li>
                <li>TRL 2 – Applied research</li>
                <li>TRL 3 – Proof of feasibility</li>
                <li>TRL 4 – Practical demonstrations</li>
                <li>TRL 5 – Technology proven in relevant environment</li>
                <li>TRL 6 – Demonstration prototype</li>
                <li>TRL 7 – Operational prototype</li>
                <li>TRL 8 – Production prototype</li>
                <li>TRL 9 – Marketable product</li>
            </ul>
            <p class="govuk-body-s">For more information on Technology Readiness Level, refer to the guidance PDF.</p>
        </div>
    </div>

    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                    Obstacles and risks
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body-s">Explain the technical problems you need to overcome for your concept to progress.</p>
            <p class="govuk-body-s">You also need to state how likely you are of overcoming these problems, as either:</p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>low</li>
                <li>medium</li>
                <li>high</li>
            </ul>
            <p class="govuk-body-s">Use evidence where possible.</p>
        </div>
    </div>

</div>
