<configuration>
	<appSettings>
		
		<add key="serilog:minimum-level" value="Verbose" />
		
		<add key="serilog:using:TCPSink" value="Serilog.Sinks.Network" />
		
		<add key="serilog:write-to:TCPSink.uri" value="tcp://2d7681af-d0d7-4d65-8bdd-e26ffd05b98c-ls.logit.io:11543" />
	</appSettings>
</configuration>
