@model BaseModel
@using INZFS.MVC.Models.DynamicForm

<div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">
        £
    </div>
    <input class="govuk-input govuk-input--width-10 @(ViewData.ModelState.IsValid ? " " : " govuk-input--error")" id="currencyInput"
           name="DataInput" type="number" step="0.01" spellcheck="true" value="@Model.DataInput">
</div>