<p class="govuk-body-s">
    You can give extra details about the information you enter on the Finance Spreadsheet here.
</p>

<p class="govuk-body-s">For example:</p>

<ul class="govuk-body-s govuk-list govuk-list--bullet">
    <li>
        why you need public funding for your project
    </li>
    <li>
        spending or investment on the project to date
    </li>
    <li>
        an explanation of your overhead costs if they are particularly high (more than 30% of your operating costs)
    </li>
    <li>
        reasons for using subcontractors
    </li>
    <li>
        where your match funding will come from
    </li>
</ul>

