<p class="govuk-body-s">You can use this section to explain the information you've given in the <a class="govuk-link" href="#">project cost breakdown form</a>, if you need to. </p>

<p class="govuk-body-s">For instance: </p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>why you're using subcontractors instead of permanent staff </li>
    <li>an explanation of your overhead costs if they're particularly high (BEIS considers overheads of 30% or more as 'high')</li>
    <li>background about your match funding </li>
</ul>


