<p class="govuk-body-s">In-kind contributions are valuable items or services which you don't need to pay for during your project.</p>

<p class="govuk-body-s">They may include:</p>

<ul class="govuk-body-s govuk-list govuk-list--bullet">
    <li>
        people working voluntarily
    </li>
    <li>
        donated equipment
    </li>
    <li>
        use of another organisation’s workspace
    </li>
    <li>
        a university or college working on your project for free (or a very small fee)
    </li>
</ul>

<p class="govuk-body-s">Your project may not have any contributions in kind. However, they can show that your potential grant will offer good value for money to BEIS.</p>

<p class="govuk-body-s">
    In-kind contributions cannot be used to offset or in place of your match funding contribution.
</p>

