<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon govuk-warning-text__icon--twolines" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
       Find out how much you can claim towards your project and your match funding contribution in question 6.1
    </strong>
</div>

<p class="govuk-body-m gov-!-margin-bottom-6">
    You need to upload a detailed project cost breakdown for your project. Use the <a class="govuk-link" href="~/media/EEF9 Q6.2. Project cost breakdown template.xlsx" download>form provided</a> to show your project's expected costs and how you will use funding.
</p>
