<p class="govuk-body-s">
    Provide a breakdown of your costs using the template provided in the download section of this page.
</p>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon govuk-warning-text__icon--twolines" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Please refer to <a class="govuk-link" href="financialProposal-1.html">question 6.1</a> for guidance on how much you can claim and your match funding contribution
    </strong>
</div>
