<p class="govuk-body-s">EEF aims to fund projects which offer value for its investment. </p>

<p class="govuk-body-s">In this section you should demonstrate value for money by showing: </p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>spending or investment on the project to date, and what it's achieved (this includes loans you've taken out) </li>
    <li>why your project offers good value </li>
    <li>any in-kind contributions you will receive during your project (see below for more information on in-kind contributions) </li>
</ul>

<p class="govuk-body-s">Your project might not have any in-kind contributions. However, they can show that your potential grant will offer good value for money to BEIS.</p>
<p class="govuk-body-s">In-kind contributions cannot be used in place of your match funding, or to offset it.</p>