
@if (User.Identity?.IsAuthenticated ?? false)
 {
    <div class="govuk-timeout-warning-fallback">
        <p class="govuk-body-s">Your browser does not support a timeout popup; as a result, you will be signed out if you are inactive for 30 minutes and will lose any unsaved changes.</p>
    </div>
}
