@page "/blogpost/{id}"
@inject OrchardCore.IOrchardHelper Orchard

@{ 
    var blogPost = await Orchard.GetContentItemByIdAsync(Id);
}

<h1> Blog: @blogPost.DisplayText</h1>
<p>@blogPost.Content.MarkdownBodyPart.Markdown</p>
@functions {
    [FromRoute]
    public string Id { get; set; }
}
