<div id="eligible-fund-hint" class="govuk-hint">
    <p class="govuk-body">
        Only answer 'yes' if you took the
        <a class="govuk-link" href="~/eligibilityInfo/eligibility-start">'Check if EEF is the right fund for you'</a> questionnaire and were told you were eligible.
    </p>
</div>
