@model INZFS.Theme.ViewModels.AddPhoneNumberViewModel
@{
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-signout-right">
        <p><a class="govuk-body-m govuk-link" href="youraccount.html">Your account</a></p>
    </div>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <form method="post">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Add your phone number</h1>
                <p class="govuk-body govuk-!-margin-bottom-3">This number will be used to authenticate your account when you login</p>
                <div class="govuk-form-group" asp-validation-error-class-for="PhoneNumber">
                    <label class="govuk-label" for="phone">Your phone number </label>
                    <span asp-validation-for="PhoneNumber" class="govuk-error-message"></span>
                    <div class="govuk-form-group">
                        <input asp-for="PhoneNumber" type="number" class="govuk-input govuk-input--width-20" spellcheck="false" aria-describedby="event-phone-hint" autocomplete="off">
                    </div>
                </div>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </div>
    </form>
</main>