@using INZFS.Theme.ViewModels
@model INZFS.Theme.ViewModels.ChooseVerificationMethodViewModel
@{
    Layout = "_Layout";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Choose verification method</h1>
        </div>
    </div>
    <form method="post">
        <div class="govuk-grid-row" asp-validation-error-class-for="AuthenticationMethod">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
                <span asp-validation-for="AuthenticationMethod" class="govuk-error-message"></span>
                <fieldset class="govuk-fieldset" aria-describedby="timing-hint">
                    <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="AuthenticationMethod" type="radio" value="@(AuthenticationMethod.Email)" class="govuk-radios__input" />
                            <label class="govuk-label govuk-radios__label">
                                Email
                            </label>
                        </div>
                    </div>
                </fieldset>
                <br /><br />
            </div>

        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</div>