@model INZFS.Theme.ViewModels.EnableTwoFactorOptionViewModel
@{
    Layout = "_Layout";
}



    <div class="govuk-width-container">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Choose verification method</h1>
            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

                <fieldset class="govuk-fieldset" aria-describedby="timing-hint">
                    <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-Authenticator" name="DataInput" type="radio" value="Authenticator">
                            <label class="govuk-label govuk-radios__label">
                                Authenticator app (Google or Microsoft)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-no" name="DataInput" type="radio" value=0 disabled="disabled">
                            <label class="govuk-label govuk-radios__label">
                                SMS
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-no" name="DataInput" type="radio" value=0 disabled="disabled">
                            <label class="govuk-label govuk-radios__label">
                                Email
                            </label>
                        </div>
                    </div>
                </fieldset>

                <br /><br />
                <a href="@Url.Action("ScanQr", "TwoFactor", new { Area = "INZFS.Theme" })">
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                </a>
            </div>
        </div>
    </div>
