<div id="description-hint" class="govuk-hint">
    Explain why you need public money for your project.
</div>
<p class="govuk-body-s">This should include:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>why you can't fund the project with your own money</li>
    <li>other sources of finance you've considered</li>
    <li>how funding from BEIS would allow you to approach the project differently or complete it more quickly</li>
    <li>site co-location</li>
    <li>why public funding for your project would benefit the UK</li>
</ul>