@page
@model OrchardCMS.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">We're aware of the issue, and are working to get it back online.</p>
        <p class="govuk-body">For all enquires email <a class="govuk-link" href="mailto:entrepreneur@beis.gov.uk">entrepreneur@beis.gov.uk</a>.</p>

        <h2 class="govuk-heading-m">If you need to submit your application urgently</h2>
        <p class="govuk-body">You can submit your application to EEF using the offline application forms. <a href="~/all-eef-documents">Available here</a></p>
        <p class="govuk-body">Send your completed documents to <a class="govuk-link" href="mailto:urgent.entrepreneur@beis.gov.uk">urgent.entrepreneur@beis.gov.uk.</a></p>
    </div>
</div>
