@page
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Guidance</h1>
    </main>
    <p class="govuk-body">
        Further information and guidance about the Thermal Efficiency Innovation Fund can be found in the Guidance Notes available at (https://www.gov.uk/guidance/innovations-in-the-built-environment). A brief summary is provided below on the application process.
    </p>
    <p class="govuk-body">
        Registration Email: Applicants must submit a registration email to BuiltEnvironmentInnovation@beis.gov.uk using the title ‘Thermal Efficiency Innovation Fund’ in the email subject and containing the following information:
    </p>
    <div class="govuk-body">
        <ul>
            The name of the lead project organisation (project co-ordinator);
        </ul>
        <ul>
            the project title; and
        </ul>
        <ul>
            Confirmation of intention to submit an application.
        </ul>
    </div>
    <p class="govuk-body">
        The deadline for submitting registration emails is Wednesday 12 December 2017.
    </p>
    <div class="govuk-body">
        <ul>
            •	BEIS confirmation: Within a week of receipt of the Registration Email, BEIS will issue a confirmation email to the applicant with an individual reference number. Please use this reference number to submit any subsequent application or when submitting any questions about the Competition.
        </ul>
        <ul>
            •	Questions about the Competition: If you have read the guidance notes and still have questions, you may address any queries regarding the competition process to the following email address: BuiltEnvironmentInnovation@beis.gov.uk. Questions must be received by 5pm, 28 November 2017. Questions and answers will be published on the GOV.UK page by the 05 December 2017.
        </ul>
        <ul>
            •	Submission process and deadline: The full proposal for the Thermal Efficiency Innovation Fund must be emailed to BuiltEnvironmentInnovation@beis.gov.uk using the title ‘Thermal Efficiency Innovation Fund’ - (name of lead applicant)’ in the email subject by the deadline 5pm, 2nd January 2018.
        </ul>
        <ul>
            •	File format and size: Completed application forms and the completed finance templates and any supporting information should be submitted electronically. The completed finance form should be submitted as a spreadsheet (.xls) file; the completed application form should be submitted in pdf format.
            The maximum size email you can send is 10 MB. If your application is larger than 10MB, please break the submission down into smaller sizes and ensure the subject line of each additional email takes the following format ‘Thermal Efficiency Innovation Fund’ - (name of lead applicant) – email x of y’.
        </ul>
    </div>
    <p class="govuk-body">
        •	Submission content: Each proposal must include the following documents:
    </p>
    <div class="govuk-body">
        <ul>
            Completed application form
        </ul>
        <ul>
            Completed finance form
        </ul>
        <ul>
            Completed project Gantt chart or outline project plan
        </ul>
    </div>
    <p class="govuk-body">
        You should endeavour to answer all of the questions on the application in full. Incomplete applications and any containing incorrect information will very likely be rejected although BEIS may, at its discretion, request clarification or additional data before making a final decision.
        Any applications or supporting documentation received after the application deadline will not be considered.

    </p>

</div>
