@page "/page/help"

@{
    ViewData["Title"] = "Help";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">
                        Apply for the Energy Entrepreneurs Fund: phase 9
                    </a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Support
                </li>
            </ol>
        </nav>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-youraccount-right"></div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Energy Entrepreneurs Fund 9: Get help with your application
        </h1>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l">You can contact us if you need help with your application. We aim to respond within 2 working days. </p>

        <p class="govuk-body-l">With all enquiries, you need to include: </p>

        <ul class="govuk-body-l govuk-list govuk-list--bullet">
            <li>your EEF registration number</li>
            <li>details of what you need help with</li>
        </ul>

        <h2 class="govuk-heading-m">Assisted digital and accessibility support</h2>
        <p class="govuk-body"> You can get help filling in your application if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>do not feel confident using a computer or mobile device</li>
            <li>have poor internet access </li>
        </ul>
        <p class="govuk-body"> This is known as ‘Assisted Digital’ support.</p>
        <p class="govuk-body">We can also offer support for applicants with <a class="govuk-link" href="/page/accessibility">accessibility needs.</a> </p>
        <p class="govuk-body"> You can arrange a call with our support team, either on the phone or through Microsoft Teams. </p>
        <p class="govuk-body"> The deadline to apply for help with applying is 17 September 2021. This allows us enough time to help you with your application. We can not guarantee help if you request support after this date. </p>
        <p class="govuk-body"> If you need help accessing or completing the application, email <a class="govuk-link" href="mailto:support.entrepreneur@beis.gov.uk?subject=Help to apply">support.entrepreneur@beis.gov.uk</a> with the subject line ‘Help to apply’. </p>


        <h2 class="govuk-heading-m">General enquiries</h2>
        <p class="govuk-body"> This may include, but is not limited to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a specific question within the application and how it relates to your project</li>
            <li>which subsidy category you’re applying under </li>
            <li>whether you are eligible to apply </li>
        </ul>
        <p class="govuk-body">If you have any questions about your application, email <a class="govuk-link" href="mailto:general.entrepreneur@beis.gov.uk?subject=General enquiry">general.entrepreneur@beis.gov.uk</a> with the subject line ‘General enquiry’. </p>
        <p class="govuk-body">Any questions asked in relation to the application itself will also be published publicly. Your question may already have been answered on our question and answers page.​</p>



        <h2 class="govuk-heading-m">Technical enquiries </h2>
        <p class="govuk-body"> Technical issues may include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>uploading files </li>
            <li>downloading templates </li>
            <li> signing in</li>
        </ul>
        <p class="govuk-body">If you’re having a technical issue with this service, email <a class="govuk-link" href="mailto:tech.entrepreuner@beis.gov.uk?subject=Tech enquiry">tech.entrepreuner@beis.gov.uk</a> with the subject line ‘Tech enquiry’. </p>


        <h2 class="govuk-heading-m">Urgent enquiries</h2>
        <p class="govuk-body"> Examples of urgent enquiries include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>security concerns</li>
            <li>a problem on the site which stops you from logging in</li>
            <li> you can’t submit your application</li>
        </ul>
        <p class="govuk-body">If you have an urgent enquiry email <a class="govuk-link" href="mailto:urgent.entrepreneur@beis.gov?subject=Urgent enquiry">urgent.entrepreneur@beis.gov.</a> Include the subject header ‘Urgent enquiry’. </p>




    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>
