@page

@{
    ViewData["Title"] = "Landing Page";
}
<body class="govuk-template__body competition-overview">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Energy Entrepreneurs Fund (EEF)</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Funding competition</h2>
                    <p class="govuk-body wysiwyg-styles">Opportunity for UK registered organisations to apply for a share of up to £25 million from INZFS to deliver game-changing Funds to reduce carbon emissions.</p>

                    <ul class="govuk-list">
                        <li><strong>Competition opens:</strong> <span>01 August 2021</span></li>

                        <li>
                            <strong>Competition closes:</strong> 01 December 2021 11:00am
                        </li>



                    </ul>
                    <a class="govuk-button govuk-!-margin-top-6" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="application-summary">Start new application</a>
                    <p class="govuk-body govuk-!-margin-top-6">

                        Or <a href="/Login" class="govuk-link">sign in</a> to continue an existing application.


                    </p>
                </div>

                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">One-third column</h3>
                    <p class="govuk-body">This is a paragraph inside a one-third wide column</p>

                </div>
            </div>

        </main>
    </div>
    <script src="/js/dest/vendor.min-d0f5e0c64f0aabb2175da63ab1834c93.js" type="text/javascript"></script>
    <script src="/js/dest/ifs.min-7a5559db363c88661796e6255448cc90.js" type="text/javascript"></script>

</body>