@page

@{
    ViewData["Title"] = "Landing Page";
}
<body class="govuk-template__body competition-overview">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Energy Entrepreneurs Fund 8B</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">The Energy Entrepreneurs Fund (EEF) supports innovative carbon-reduction technology through capital grants of up to £1 million.</h3>
                    <p class="govuk-body wysiwyg-styles">The Fund is open to UK organisations of any size, in both the public and private sector. It is particularly focused on helping small and medium-sized businesses, including start-ups. To be eligible for the grant, your proposal needs to address the Government’s 2050 Net Zero carbon targets, or security of UK energy supply. Your project’s scope must relate to at least one of the following categories: </p>

                    <ul class="govuk-list">
                        <li>- Energy efficiency</li>

                        <li>
                            - Power generation
                        </li>
                        <li>
                            - Heat generation
                        </li>
                        <li>
                            - Energy storage
                        </li>
                    </ul>
                    <h1 class="govuk-heading-m">Before you apply</h1>
                    <ul class="govuk-list">
                        <li>
                            <a href="/" class="govuk-link">Check if EEF is the right fund for you </a>
                        </li>
                        <li>
                            <a href="/" class="govuk-link">Download and read through the application guide and questions </a>
                        </li>
                        <li>
                            <a href="/" class="govuk-link">Download the template documents you will need to upload with your application </a>
                        </li>
                    </ul>


                    <h1 class="govuk-heading-m">Start your application</h1>
                    <p class="govuk-body wysiwyg-styles">To start your application you must register your details and create an account. </p>
                    <p class="govuk-body wysiwyg-styles">We recommend reading the guidance and questions before you decide to register. We also advise checking that you have gathered the necessary information and evidence before you begin.</p>
                    <p class="govuk-body wysiwyg-styles">Registrations to apply for this fund close on 25th June at 11.59pm.</p>

                    <a class="govuk-button govuk-!-margin-top-6" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="application-summary">Start Now</a>
                    <p class="govuk-body govuk-!-margin-top-6">

                        <a href="/Login" class="govuk-link">Sign in to your account </a>


                    </p>
                </div>

                <div class="govuk-grid-column-one-third">

                    <p class="govuk-body">Registration opens</p>
                    <p class="govuk-body">25 March at 11.59pm</p>
                    <p class="govuk-body">Applications open</p>
                    <p class="govuk-body">12 April at 11.59pm</p>
                    <p class="govuk-body">Registration closes</p>
                    <p class="govuk-body">25 June at 11.59pm</p>
                    <p class="govuk-body">Deadline</p>
                    <p class="govuk-body">25 July at 11.59pm</p>
                    <h3 class="govuk-heading-s">Events</h3>
                    <p class="govuk-body">Engagement Days</p>
                    <p class="govuk-body">25 March at 11.59pm</p>
                    <a href="">Register to attend</a>
                    <p class="govuk-body">Engagement Days</p>
                    <p class="govuk-body">25 April at 11.59pm</p>
                    <a href="">Register to attend</a>

                </div>
            </div>

        </main>
    </div>
    <script src="/js/dest/vendor.min-d0f5e0c64f0aabb2175da63ab1834c93.js" type="text/javascript"></script>
    <script src="/js/dest/ifs.min-7a5559db363c88661796e6255448cc90.js" type="text/javascript"></script>

</body>