<p class="govuk-body">If you are applying as part of a consortium you will need to upload a document listing all its members.</p>
<p class="govuk-body">You can download a <a href="~/media/Consortium%20partner%20details.xlsx" class="govuk-link govuk-!-font-weight-regular">consortium form</a> to list all the partners who will be involved in your project.</p>