<div id="create-password-hint" class="govuk-hint">
    Your password must:
    <ul class="govuk-list govuk-list--bullet">
        <li>be at least 8 characters</li>
        <li>be a mixture of upper and lower case</li>
        <li>include at least 1 digit</li>
        <li>contain a special character (for instance, ! &#163; # or &)</li>
        <li>not include commonly used passwords (examples of commonly used passwords include  'password', '12345678' and 'qwerty1234')</li>
    </ul>
</div>
