@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{
    ViewLayout = "Layout__Login";
}
<div class="govuk-width-container">
    <h2 class="govuk-heading-s">@T["Forgot password?"]</h2>
    <h2 class="govuk-heading-s">@T["Please check your email to reset your password."]</h2>
    <hr />
    <div class="govuk-grid-row">
        <div class="col-md-8">
            <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="govuk-form-group">
                    <label asp-for="Email" class="col-md-4 govuk-label">@T["Email"]</label>
                    <div class="col-md-9">
                        <input asp-for="Email" class="govuk-input" />
                    </div>
                </div>
                @await RenderSectionAsync("AfterForgotPassword", required: false)
                <div class="govuk-form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="govuk-button">@T["Submit"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>