@{
    ViewLayout = "Layout__Login";
}
<div class="govuk-width-container">
    <h1 class="govuk-heading-l">@T["Forgot Password confirmation"]</h1>
    <p class="govuk-body">@T["Please check your email to reset your password."]</p>
    </div>