@model string

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-1a" aria-controls="@Model-accordion-default-content-2" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Your balance sheet
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1a" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1a">
            <p class="govuk-body-s">
                A balance sheet shows the value of your organisation.
            </p>
            <p class="govuk-body-s">
                You need to give us your balance sheet so we know about your current financial situation.
            </p>
            <p class="govuk-body-s">
                You can work our your balance sheet by adding up the value of your fixed assets (things you own like machinery, computers and vehicles) and current assets. Current assets can be cash, money owed to you or stock which is ready to sell, for instance.
            </p>
            <p class="govuk-body-s">
                Then, deduct your total liabilities - this is money you currently owe to creditors.
            </p>
            <p class="govuk-body-s">
                The figure you get will be your current balance sheet. Make a note of the date which you calculated it, as you'll need it in the next section.
            </p>
        </div>
    </div>
</div>

