<div class="govuk-width-container">

	<main class="govuk-main-wrapper " id="main-content" role="main">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds">

				<h1 class="govuk-heading-xl">Retrieve antiforgery token</h1>
				@Html.AntiForgeryToken();
			</div>

		</div>

	</main>
</div>
