@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (String.IsNullOrWhiteSpace(returnUrl))
{
    <button type="submit" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">Continue</button>
}
else
{
    <div class="btn-group">
        <button class="btn btn-success publish govuk-button" type="submit" name="submit.Publish" value="submit.Publish">Continue</button>
    </div>
}
