@*<div class="govuk-form-group" asp-action="UploadFileToMedia" asp-controller="GovUpload" asp-area="INZFS.MVC" method="post" enctype="multipart/form-data">
    <label class="govuk-label" for="fileupload">
        Upload a file
    </label>
    <input class="govuk-file-upload" id="fileupload" name="fileupload" type="file">
    <button class="govuk-button" type="submit">@T["Upload file"]</button>
</div>*@
<div class="govuk-form-group">
    <form asp-action="UploadFileToMedia" asp-controller="GovUpload" asp-area="INZFS.MVC" method="post" enctype="multipart/form-data">
        <label class="govuk-label" for="file-upload-1">
            Upload a file
        </label>
        <input type="file" name="file" />
        <button type="submit">@T["Upload file"]</button>
    </form>
</div>
