@{
    ViewData["Title"] = "Cookie Policy";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">
                            Apply for the Energy Entrepreneurs Fund: phase 9
                        </a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Support
                    </li>
                </ol>
            </nav>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-youraccount-right"></div>
    </div>

    <div class="cookie-settings__confirmation" data-cookie-confirmation="true">

        <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-4f62ca90" data-module="initial-focus">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-4f62ca90">Success</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">Your cookie settings were saved</h3>
                <p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
                <a class="govuk-link govuk-notification-banner__link cookie-settings__prev-page" href="#" data-module="gem-track-click" data-track-category="cookieSettings" data-track-action="Back to previous page">Go back to the page you were looking at</a>
            </div>
        </div>
    </div>

    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

        <h1 class="gem-c-title__text govuk-heading-xl">
            Energy Entrepreneurs Fund 9: Cookies
        </h1>
    </div>

    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to store information about how you use the GOV.UK website, such as the pages you visit.</p>

    </div>

    <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--padding govuk-!-margin-bottom-3">Cookie settings</h2>

    <!--
    <div class="cookie-settings__no-js">

        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

            <p>We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>
            <ul>
                <li>reloading the page</li>
                <li>turning on Javascript in your browser</li>
            </ul>

        </div>
    </div>
    -->

    <div class="cookie-settings__form-wrapper">
        <p class="govuk-body">We use 4 types of cookie. You can choose which cookies you're happy for us to use.</p>

        <form data-module="cookie-settings">


            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="hint-b83af6d9">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                        <h2 class="govuk-fieldset__heading">Cookies that measure website use</h2>
                    </legend>

                    <div id="hint-b83af6d9" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                        <p class="govuk-body govuk-hint">We use Google Analytics and LUX Real User Monitoring software from SpeedCurve to measure how you use the website and your web performance experience while visiting so we can improve it based on user needs. We do not allow Google or SpeedCurve to use or share the data about how you use this site.</p>
                        <p class="govuk-body govuk-hint">Google Analytics sets cookies that store anonymised information about:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-hint">
                            <li>how you got to the site</li>
                            <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                            <li>what you click on while you're visiting the site</li>
                        </ul>
                        <p class="govuk-body govuk-hint">LUX software stores anonymised information about how well pages performed on your device (including JavaScript errors).</p>

                    </div>


                    <div class="govuk-radios">
                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-usage" id="radio-da15b286-0" value="on" class="govuk-radios__input">

                            <label for="radio-da15b286-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that measure my website use</label>


                        </div>

                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-usage" id="radio-da15b286-1" value="off" class="govuk-radios__input">

                            <label for="radio-da15b286-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that measure my website use</label>


                        </div>

                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="hint-957ba0a3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                        <h2 class="govuk-fieldset__heading">Cookies that help with our communications and marketing</h2>
                    </legend>

                    <div id="hint-957ba0a3" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                        <p class="govuk-body govuk-hint">These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on GOV.UK.</p>

                    </div>


                    <div class="govuk-radios">
                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-campaigns" id="radio-64ccf782-0" value="on" class="govuk-radios__input">

                            <label for="radio-64ccf782-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that help with communications and marketing</label>


                        </div>

                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-campaigns" id="radio-64ccf782-1" value="off" class="govuk-radios__input">

                            <label for="radio-64ccf782-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that help with communications and marketing</label>


                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="hint-b4b76c64">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                        <h2 class="govuk-fieldset__heading">Cookies that remember your settings</h2>
                    </legend>

                    <div id="hint-b4b76c64" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                        These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.
                    </div>


                    <div class="govuk-radios">
                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-settings" id="radio-fa2a5fed-0" value="on" class="govuk-radios__input">

                            <label for="radio-fa2a5fed-0" class="gem-c-label govuk-label govuk-radios__label">Use cookies that remember my settings on the site</label>


                        </div>

                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="cookies-settings" id="radio-fa2a5fed-1" value="off" class="govuk-radios__input">

                            <label for="radio-fa2a5fed-1" class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that remember my settings on the site</label>


                        </div>

                    </div>
                </fieldset>
            </div>


            <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

                <h2>Strictly necessary cookies</h2>
                <p>These essential cookies do things like remember your progress through a form (for example a licence application)</p>
                <p>They always need to be on.</p>
                <p>
                    <a href="/help/cookie-details" data-module="gem-track-click" data-track-category="cookieSettings" data-track-action="Find out more about cookies">
                        Find out more about cookies on GOV.UK
                    </a>
                </p>

            </div>




            <button class="gem-c-button govuk-button" type="submit">Save changes</button>


        </form>
    </div>

    <div class="cookie-settings__gov-services">
        <h2 class="gem-c-heading gem-c-heading--font-size-27 govuk-!-margin-bottom-3">Government services</h2>

        <p class="govuk-body">Most services we link to are run by different government departments, for example DWP’s Universal Credit online, DVLA’s vehicle tax service, or HMRC’s webchat. These services may set additional cookies and, if so, will have their own cookie policy and banner linking to it.</p>
    </div>

