@{
    ViewData["Title"] = "Energy Entrepreneurs Fund 9: questions and answers";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="index.html">
                            Apply for the Energy Entrepreneurs Fund: phase 9
                        </a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Questions and answers
                    </li>
                </ol>
            </nav>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-youraccount-right"></div>
    </div>


    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Energy Entrepreneurs Fund 9: questions and answers
                </h1>
            </div>
        </div>


        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m">Questions and answers</h2>

                <p class="govuk-body-l">
                    Questions asked ahead of the session will be answered at the applicant information presentation on 12 November 2021. All answers will also be published after the event.
                </p>

                <p class="govuk-body-l">To submit your questions please email <a class="govuk-link" href="mailto:general.entrepreneur@beis.gov.uk?subject=Question">general.entrepreneur@BEIS.gov.uk</a>  </p>

                <p class="govuk-body-l">You can also review answers from previous rounds of the fund <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-for-the-energy-entrepreneurs-fund-phase-8a/energy-entrepreneurs-fund-8a-questions-and-answers-from-applicant-information-presentation">here.</a> </p>

                <p class="govuk-body-l">To register to attend the event email <a href="mailto:general.entrepreneur@beis.gov.uk?subject=Event Registration">general.entrepreneur@beis.gov.uk</a> with the subject line, Event registration and we will send you the details.  </p>

            </div>

            <div class="govuk-grid-column-one-third">

                <aside class="app-related-items" role="complementary">

                    <h3 class="govuk-heading-s govuk-!-margin-top-3" id="subsection-title">Need support?</h3>

                    <p class="govuk-body-m">If you need support with your application please email <a class="govuk-link" href="mailto:entrepreneur@beis.gov.uk">entrepreneur@BEIS.gov.uk</a></p>


                </aside>


            </div>
        </div>
    </main>

</div>