@{
    ViewData["Title"] = "Register to attend";
}
<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">
                            Apply for the Energy Entrepreneurs Fund: phase 9
                        </a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Register to attend
                    </li>
                </ol>
            </nav>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-youraccount-right"></div>
    </div>


    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Register to attend
                </h1>
            </div>
        </div>


        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You can learn more about applying for the Energy Entrepreneurs Fund at one of our engagement days.</p>

                <h3 class="govuk-heading-m">Upcoming events</h3>

                <p class="govuk-body">There are no engagement days planned for EEF yet. If you register to apply, we'll keep you informed when events will take place and how to attend. If you register there is no obligation to apply.</p>



            </div>

            <div class="govuk-grid-column-one-third">

                <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            </div>
        </div>
    </main>

</div>