@model string

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-0" aria-controls="@Model-accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                    Eligibility criteria
                    <span class="govuk-accordion__icon" aria-hidden="true"></span>
                </button>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body-s">Your project must meet the following criteria to be eligible to apply for EEF: </p>
            <ul class="govuk-body-s govuk-list govuk-list--bullet">
                <li>at least 50% of your proposed project's activities must place in the United Kingdom </li>
                <li>your project must not have been rejected for funding from EEF twice if you've applied before</li>
                <li>your innovation must have reached Technology Readiness 3 ('proof of concept') </li>
                <li>you may not apply for funding in excess of &pound;1 million </li>
                <li>you need to be able to fund at least 10% of your project's total eligible costs</li>
                <li>your project must address either the Government's 2030 Net Zero carbon targets, or the security of the UK's energy supply.</li>
            </ul>
        </div>
    </div>
</div>
