@using INZFS.Theme.ViewModels
@model INZFS.Theme.ViewModels.EnterCodeViewModel
@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Enter your verification code";
    ViewData["Breadcrumbs"] = new INZFS.Theme.Models.BreadcrumbsModel() { IsDisplay = false };
}

<partial name="_ErrorModelSummary" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper govuk-!-margin-bottom-6 ">
                        <label class="govuk-label govuk-label--l" for="code">
                            @ViewData["Title"]
                        </label>
                    </h1>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <p class="govuk-body">We have sent a 6 digit access code to <strong>@Model.Message</strong></p>
                    }
                    <div id="code-generated-hint" class="govuk-hint">
                        Enter the code generated from your chosen authentication method
                    </div>
                    <span asp-validation-for="Code" class="govuk-error-message"></span>
                    <div class="govuk-form-group govuk-!-margin-bottom-9">
                        <input asp-for="Code" class="govuk-input govuk-input--width-20" type="text" spellcheck="true" autocomplete="off">
                    </div>
                </div>
                <div class="edit-item-secondary group">
                    <div class="edit-item-actions form-group">
                        <input asp-for="Method" type="hidden" />
                        <button type="submit" id="Veriy" name="Veriy" class="btn btn-success publish govuk-button">Continue</button>
                    </div>
                </div>
                <p class="govuk-body-s"><a class="govuk-link" href="@Url.Action("ResendCode", new {method = AuthenticationMethod.ChangePhone, token = Url.GetQuery("token")})">Resend code</a></p>
            </form>
        </div>
    </div>
</main>