@using INZFS.Theme.ViewModels
@model INZFS.Theme.ViewModels.ChangePhoneViewModel
@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Change your security preference";
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <form method="post">
        <div class="govuk-grid-row" asp-validation-error-class-for="ChosenAction">
            <div class="govuk-grid-column-two-thirds">
                <span asp-validation-for="ChosenAction" class="govuk-error-message"></span>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="text-message-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                            <h1 class="govuk-fieldset__heading">@ViewData["Title"]</h1>
                        </legend>
                        <div id="text-message-hint" class="govuk-hint">
                            You currently get an access code as a text message sent to: <strong>@Model.PhoneNumber</strong>.
                        </div>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="ChosenAction" type="radio" value="@(ChangeAction.Change)" class="govuk-radios__input" id="ChosenAction1"/>
                                <label class="govuk-label govuk-radios__label" for="ChosenAction1">
                                    Change your phone number
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="ChosenAction" type="radio" value="@(ChangeAction.Remove)" class="govuk-radios__input" id="ChosenAction2" />
                                <label class="govuk-label govuk-radios__label" for="ChosenAction2">
                                    Remove this option
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</main>
