@model INZFS.Theme.ViewModels.ChangePasswordViewModel
@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Change your password";
    ViewData["Breadcrumbs"] = new INZFS.Theme.Models.BreadcrumbsModel() { IsDisplay = false };
}

<partial name="_ErrorModelSummary" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <div class="govuk-form-group govuk-!-margin-bottom-2" asp-validation-error-class-for="OldPassword">
                    <span asp-validation-for="OldPassword" class="govuk-error-message"></span>
                    <label class="govuk-label" for="password-current">
                        Enter your current password
                    </label>
                    <div class="show-password__input-wrapper govuk-!-margin-bottom-6">
                        <input class="govuk-input govuk-input--width-20" id="password-current" asp-for="OldPassword" type="password" spellcheck="false">
                        <button class="show-password__toggle password-changer" data-control="password-current" type="button" aria-label="Show password" id="buttonText">Show</button>
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>

                </div>
                <div class="govuk-form-group govuk-!-margin-bottom-2" asp-validation-error-class-for="NewPassword">
                    <span asp-validation-for="NewPassword" class="govuk-error-message"></span>
                    <label class="govuk-label" for="password-create">
                        New password
                    </label>
                    <partial name="_Password-hint"/>
                    <div class="show-password__input-wrapper govuk-!-margin-bottom-6">
                        <input class="govuk-input govuk-input--width-20" id="password-create" asp-for="NewPassword" type="password" aria-describedby="create-password-hint" spellcheck="false">
                        <button class="show-password__toggle password-changer" data-control="password-create" type="button" aria-label="Show password" id="buttonText1">Show</button>
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>
                </div>
                <div class="govuk-form-group govuk-!-margin-bottom-6" asp-validation-error-class-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                    <label class="govuk-label" for="password-confirm"> Confirm new password</label>
                    <div class="show-password__input-wrapper">
                        <input class="govuk-input govuk-input--width-20" id="password-confirm" asp-for="ConfirmPassword" type="password" spellcheck="false">
                        <button class="show-password__toggle password-changer" data-control="password-confirm" type="button" aria-label="Show password" id="buttonText2">Show</button>
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="govuk-button" data-module="govuk-button">Change password</button>
    </form>
</main>

<script src="/INZFS.Theme/lib/password-changer.js"></script>
