@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Verify your email address";
    ViewData["Breadcrumbs"] = new INZFS.Theme.Models.BreadcrumbsModel() { IsDisplay = false };
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
            <p class="govuk-body-l govuk-!-margin-bottom-0">You’ll need to verify your email address to continue. </p>
            <p class="govuk-body-l">We have sent a verification link to your email address, click this link to verify your account.</p>
        </div>
    </div>
</main>