<div class="govuk-width-container">

 
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Thank you for completing the equality questions</h1>

                <p class="govuk-body-l">By answering these questions you'll help us ensure there is no unlawful discrimination, harassment and victimisation and other conduct prohibited by the Equality Act.</p>

                <p class="govuk-body">For more information on how we use your data, read our <a class="govuk-link" href="/page/privacynotice">privacy notice.</a></p>

                <p class="govuk-body"><a class="govuk-link" href="/FundApplication/section/application-overview">Return to application overview</a></p>

            </div>

        </div>

    </main>
</div>