<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">6.1. Funding levels and subsidy requirements</h1>

        <p class="govuk-body">There are two categories of aid available through EEF.</p>
        <p class="govuk-body">These are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>aid for start-ups</li>
            <li>aid for research and development projects</li>
        </ul>

        <p class="govuk-body">The amount and type of funding your project may receive, as well as your minimum contribution, depends on:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>your organisation's size</li>
            <li>your project's research category</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-9">Answer the following questionnaire to find out which category applies to you.</p>



        <a href="@Model.NextPageName">
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </a>


    </div>
</div>