@model BaseModel
@using INZFS.MVC.Models.DynamicForm

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">We recommend you apply under aid for research and development</h1>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-bottom-6">Each partner in a consortium may have different funding levels, depending on their size.</p>


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Feasibility study</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="col" class="govuk-table__header app-custom-class">Size</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Your minimum contribution</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Maximum amount of aid towards eligible project costs</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body govuk-body-s">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Micro/small
                    </td>
                    <td class="govuk-table__cell">
                        60%
                    </td>
                    <td class="govuk-table__cell">
                        40%
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Medium
                    </td>
                    <td class="govuk-table__cell">
                        40%
                    </td>
                    <td class="govuk-table__cell">
                        60%
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Large
                    </td>
                    <td class="govuk-table__cell">
                        50%
                    </td>
                    <td class="govuk-table__cell">
                        50%
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Research organisation
                    </td>
                    <td class="govuk-table__cell">
                        -
                    </td>
                    <td class="govuk-table__cell">
                        100%
                    </td>
                </tr>

            </tbody>
        </table>


        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Applying with a university
                </span>
            </summary>
            <div class="govuk-details__text">
                Universities cannot claim more than 80% of their full economic costs calculated using the <a class="govuk-link" href="https://www.trac.ac.uk/" target="_blank">Transparent Approach to Costing (TRAC) methodology.</a>
            </div>
        </details>

        <p class="govuk-body govuk-!-font-weight-bold">Your minimum company contribution will be defined by the largest organisation in your consortium.</p>

        <p class="govuk-body">For example, if you are a small business in partnership with a medium-sized and large business, you will each be able to claim a different percentage of your eligible costs.</p>

        <p class="govuk-body">However, your minimum company contribution will be defined by the largest consortium partner.</p>



        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon govuk-warning-text__icon--twolines" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You will need these figures to complete the project cost breakdown form in the next question
            </strong>
        </div>

        <form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

            @Html.Partial("_ResultAcknowledged", Model)

            <div class="govuk-button-group">

                @Html.Partial("_SaveContinue", Model.ContinueButtonText)

                <a href="subsidy-requirements">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button">
                        Start again
                    </button>
                </a>

                <p class="govuk-body-s"><a class="govuk-link govuk-!-font-weight-regular" href="@Model.ReturnPageName">Return to the financial proposal overview</a></p>
</form>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                            Rules for subsidies in scope of the Northern Ireland Protocol
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                    <p class='govuk-body'>The European Commission will give further scrutiny to grants awarded to applicants and partners from Northern Ireland.</p>

                    <p class='govuk-body'>This is in accordance of Article 10 of the Northern Ireland Protocol in the UK/EU withdrawal agreement.</p>

                    <p class='govuk-body'>If the European Commission finds you have been given grant funding incorrectly, it’s likely that you will have to repay any aid received to the value of the gross grant equivalent.</p>

                </div>
            </div>



        </div>




    </div>


    <div class="govuk-grid-column-one-quarter">

    </div>




</div>