<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">What aid category are you applying under?</h1>

        <p class="govuk-body">If you're a sole applicant, you can apply under:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>aid for start-ups</li>
            <li>aid for research and development projects</li>
        </ul>

        <p class="govuk-body">Read the following guidance to find out which category applies to you.</p>

        <h2 class="govuk-heading-m">Aid for start-ups</h2>

        <p class="govuk-body govuk-!-font-weight-bold">You need to meet all the following criteria to be eligible for aid for start-ups. If you don't, you can apply under aid for research for development.</p>

        <p class="govuk-body">To be eligible for aid for start-ups you must be:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a small or micro business</li>
            <li>less than five years old (this is from the date you registered your business with Companies House, including any inactive periods)</li>
        </ul>

        <p class="govuk-body">You must not:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>have listed on any stock exchange</li>
            <li>paid money to shareholders through dividends</li>
            <li>have taken over another company</li>
            <li>been formed through a merger</li>
        </ul>

        <p class="govuk-body">You must also have spent at least 10% of your operating costs on R&amp;D in at least one of the past three years.</p>

        <p class="govuk-body">If you're a start-up with no financial history, you need to get an external auditor to certify that you've spent 10% of your operating costs on R&amp;D in the current financial period.</p>


        <h2 class="govuk-heading-m">Aid for research and development (R&amp;D)</h2>

        <p class="govuk-body govuk-!-margin-bottom-9">If you're not eligible for aid for start-ups, you should apply under this category.</p>



        <a href="@Model.NextPageName">
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </a>


    </div>
</div>