@model BaseModel
@using INZFS.MVC.Models.DynamicForm

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Applying under aid for start-ups</h1>

        <p class="govuk-body govuk-!-font-weight-bold">Based on the amount of money you're applying for, your minimum company contribution is:</p>
        <p class="govuk-body govuk-colour--blue govuk-!-font-size-48" style="font-weight: bold;color: #1D70B8;">20%</p>
        <p class="govuk-body govuk-!-font-weight-regular">This is the minimum contribution you need to make towards your eligible project costs. (This is referred to throughout the application as 'match funding')</p>
        <p class="govuk-body govuk-!-font-weight-bold">The maximum amount of public funding you can apply for towards your total eligible project costs is:</p>
        <p class="govuk-body govuk-colour--blue govuk-!-font-size-48" style="font-weight: bold;color: #1D70B8;">80%</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon govuk-warning-text__icon--twolines" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You will need these figures to complete the project cost breakdown form in the next step
            </strong>
        </div>

        <form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

            @Html.Partial("_ResultAcknowledged", Model)

            <div class="govuk-button-group">

                @Html.Partial("_SaveContinue", Model.ContinueButtonText)

                <a href="subsidy-requirements">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button">
                        Start again
                    </button>
                </a>
            </div>
            <p class="govuk-body-s"><a class="govuk-link govuk-!-font-weight-regular" href="@Model.PreviousPageName">Back to previous step</a></p>
        </form>



        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                            Maximum subsidy thresholds
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                    <p class='govuk-body'>You can apply for up to &pound;1 million under the aid for start-ups category.</p>

                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                            Rules for subsidies in scope of the Northern Ireland Protocol
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                    <p class='govuk-body'>The European Commission will give further scrutiny to grants awarded to applicants and partners from Northern Ireland.</p>

                    <p class='govuk-body'>This is in accordance of Article 10 of the Northern Ireland Protocol in the UK/EU withdrawal agreement.</p>

                    <p class='govuk-body'>If the European Commission finds you have been given grant funding incorrectly, it's likely that you will have to repay any aid received to the value of the gross grant equivalent.</p>

                </div>
            </div>



        </div>





    </div>


    <div class="govuk-grid-column-one-quarter">

    </div>
</div>