@{ 
    ViewData["Title"] = "Accessibility";
}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">
                            Apply for the Energy Entrepreneurs Fund: phase 9
                        </a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Support
                    </li>
                </ol>
            </nav>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-youraccount-right"></div>
    </div>




    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Energy Entrepreneurs Fund 9: Accessibility statement
            </h1>
        </div>
    </div>


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">This accessibility statement applies to the <a class="govuk-link" href="/">website </a>: </p> 
            <p class="govuk-body">
                This website is run by the Department for Business, Energy & Industrial Strategy (BEIS). We want as many people as possible to be able to use this website. For example, that means you should be able to:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>
                    zoom in up to 300% without the text spilling off the screen
                </li>
                <li>
                    navigate most of the website using just a keyboard
                </li>
                <li>
                    navigate most of the website using speech recognition software
                </li>
                <li>
                    listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
                </li>
            </ul>

            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet </a>has advice on making your device easier to use if you have a disability
            </p>

            <h2 class="govuk-heading-l">
                Feedback and contact information
            </h2>

            <h3 class="govuk-heading-m">
                Text relay
            </h3>

            <p class="govuk-body">
                We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. If you would like to contact us by phone and use text relay, please notify us of this by emailing:
            </p>

            <p class="govuk-body">
                <a class="govuk-link" href="mailto:support.entrepreneur@beis.gov.uk">support.entrepreneur@beis.gov.uk</a>
            </p>

            <h3 class="govuk-heading-m">
                Alternate formats
            </h3>

            <p class="govuk-body">
                We can provide information on this website in large print, audio recording or braille. Please contact us at <a class="govuk-link" href="mailto:support.entrepreneur@beis.gov.uk">support.entrepreneur@beis.gov.uk</a> and specify the following in your email:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Which alternate format
                </li>
                <li>
                    Which documents
                </li>
                <li>(If requesting braille) Your postal address</li>
            </ul>

            <p class="govuk-body">
                We’ll review your request and get back to you in 2 working days.
            </p>
            <p class="govuk-body">
                Please note that although we can provide information in alternate formats, you cannot apply in alternate formats.
            </p>


            <h3 class="govuk-heading-m">

                Other queries
            </h3>
            <p class="govuk-body">
                For any other accessibility related queries, please contact us at <a class="govuk-link" href="mailto:support.entrepreneur@beis.gov.uk">support.entrepreneur@beis.gov.uk</a>

            </p>



            <h2 class="govuk-heading-l">
                Reporting accessibility problems with this website
            </h2>

            <p class="govuk-body">
                We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a class="govuk-link" href="mailto:tech.entrepreneur@beis.gov.uk">tech.entrepreneur@beis.gov.uk</a>

            </p>

            <h2 class="govuk-heading-l">
                Enforcement procedure

            </h2>

            <p class="govuk-body">

                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint

                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>

            </p>





            <h2 class="govuk-heading-l">
                Technical information about this website’s accessibility
            </h2>

            <p class="govuk-body">
                The Department for Business, Energy & Industrial Strategy (BEIS) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.


            </p>


            <h2 class="govuk-heading-l">
                Compliance status
            </h2>

            <p class="govuk-body">
                This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.
            </p>


            <h2 class="govuk-heading-l">
                Preparation of this accessibility statement
            </h2>

            <p class="govuk-body">
                This statement was prepared on 17/11/2021. It was last reviewed on 06/12/2021
            </p>


            <p class="govuk-body">
                This website was last tested on 01/12/2021. The test was carried out by Zoonou.

            </p>

            <p class="govuk-body">
                We used this approach to deciding on a sample of pages to test  <a class="govuk-link" href="https://www.w3.org/TR/WCAG-EM">
                    WCAG-EM.
                </a>


            </p>



        </div>

        <div class="govuk-grid-column-one-third">

        </div>
    </div>

