@model bool

@*<div class="govuk-checkboxes">


    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" value="true" checked="checked" data-val="true"
               id="mark-as-complete" name="MarkAsComplete">
        <label class="govuk-label govuk-checkboxes__label" for="mark-as-complete">
            Mark as complete
        </label>
    </div>
</div>*@

<div class="govuk-form-group">
    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="complete" name="complete" type="checkbox" value="complete">
            <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="complete">
                Mark this question as complete
            </label>
        </div>
    </div>
</div>