@model BaseModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC.Models.Application

<div class="govuk-form-group hide-input">
    <span asp-validation-for="@Model.DataInput" class="govuk-error-message"></span>
    <label class="govuk-label" for="width-20">
        If 'Other' give details
    </label>
    <input class="govuk-input govuk-input--width-20" id="textInput" name="OtherOption" type="text" spellcheck="true" autocomplete="off" value="@Model.OtherOption">
</div> 