<div class="govuk-button--right">
    <button class="govuk-button govuk-button--secondary" name="submit.Publish" data-module="govuk-button" value="SaveProgress">
        Save progress
    </button>
</div>
