@model string
<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>
        </div>
        <div class="govuk-grid-column-one-quarter"></div>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <!-- <form action="" method="post" novalidate> -->
                <form asp-action="ApplicationComplete" method="post" enctype="multipart/form-data">

                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application complete
                    </h1>
                    <div class="govuk-panel__body">
                        Your reference number<br><strong>@Model</strong>
                    </div>
                </div>

                <h1 class="govuk-heading-xl">We have received your application</h1>

                <p class="govuk-body">Before you finish using the service, we'd like to ask you some equality questions. For more information on how we use your data, read our <a class="govuk-link" href="page-161.html">privacy notice</a>.</p>

                <h2 class="govuk-heading-l">Do you want to answer the equality questions?</h2>

                <p class="govuk-body">These questions are optional. Public sector organisations have a duty to consider the need to avoid discrimination and advance equality of opportunity as part of what they do.  This is part of what's called the public sector equlaity duty.</p>

                <p class="govuk-body">Public sector bodies often collect equality information about service users to help meet this duty.</p>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="yes-equality" name="equality" type="radio" value="1">
                                <label class="govuk-label govuk-radios__label" for="yes-equality">
                                    Yes, answer the equality questions
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="no-equality" name="equality" type="radio" value="0">
                                <label class="govuk-label govuk-radios__label" for="no-equality">
                                    No, skip the equality questions
                                </label>
                            </div>

                        </div>

                    </fieldset>
                </div>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Why we ask equality questions
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Lorem ispum Lorem ispum Lorem ispumLorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispumLorem ispum
                    </div>
                </details>

                <button type="submit" id="SaveAndContinue" name="applicationComplete" 
                        class="btn btn-success publish govuk-button" value="applicationComplete">Continue</button>

                </form>

            </div>

        </div>

    </main>
</div>