@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using System.Globalization 
@model ApplicationSummaryModel

<div class="govuk-width-container ">

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    INZFS Fund
                </h1>

                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
                <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 4 sections.</p>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span> Basic Information
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-summary" aria-describedby="project-summary">
                                        Project Summary
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__tag" id="project-summary">Completed</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-details" aria-describedby="project-details">
                                        Project Details
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__tag" id="project-details">Completed</strong>
                            </li>

                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="org-funding" aria-describedby="org-funding">
                                        Funding
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__tag" id="org-funding">Completed</strong>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span> Proposal (Written)
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details" aria-describedby="proposal-written-details">
                                        Project Proposal Details
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__tag" id="proposal-written-details">Completed</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="upload-project-plan" aria-describedby="upload-project-plan">
                                        Upload Project Plan
                                    </a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="upload-project-plan">In progress</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-experience" aria-describedby="project-experience">
                                        Project Experience and Skills
                                    </a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="project-experience">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="experience-and-skills" aria-describedby="experience-and-skills">
                                        Upload Experience Evidence
                                    </a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="experience-and-skills">Not started</strong>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span> Proposal (Finance)
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="company-information-status">
                                        Company information
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="contact-details-status">
                                        Your contact details
                                    </a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="list-convictions-status">
                                        List convictions
                                    </a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    Provide financial evidence
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    Give medical information
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4. </span> Application Review
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    Submit and pay
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>


    </main>
</div>
