@model ApplicationOverviewContent
@using INZFS.MVC
@using INZFS.MVC.Models.DynamicForm

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Application overview</h1>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Application incomplete</p>
        <p class="govuk-body govuk-!-font-weight-regular">You have completed 0 of 7 sections.</p>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your information <span class="summary-list-section summary-list-section--right">0 out of 3 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

        <dl class="govuk-summary-list">
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" id="eligibility-match-overview" href="eligibilityMatchFunding.html">
                        1. Confirm your eligibility<span class="govuk-visually-hidden">Confirm your eligibility and match funding</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" id="organisation-details-overview" href="yourOrganisation.html">
                        2. Your organisation<span class="govuk-visually-hidden">Your organisation</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" href="consortiumApplicant.html">
                        3. Consortium applicant details<span class="govuk-visually-hidden">Consortium applicant details</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
        </dl>


        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your proposal <span class="summary-list-section summary-list-section--right">0 out of 3 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">


        <dl class="govuk-summary-list">
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" id="proposal-summary-overview" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-summary-overview">
                        4. Proposal summary<span class="govuk-visually-hidden">Proposal summary</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" id="business-proposal-overview" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="business-proposal-overview">
                        5. Business proposal, project plans and risk<span class="govuk-visually-hidden">Business proposal, project plans and risk</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" asp-area="INZFS.MVC", asp-controller="FundApplication" asp-action="section". asp-route-pagename="finance-proposal-overview">
                        6. Financial proposal and costs<span class="govuk-visually-hidden">Financial proposal and costs</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
        </dl>


        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Un-assessed data <span class="summary-list-section summary-list-section--right">0 out of 1 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">


        <dl class="govuk-summary-list">
            <div class="govuk-body-m govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link govuk-!-font-weight-regular" id="preformance-data-overview" href="proposalSummary.html">
                        7. Performance data<span class="govuk-visually-hidden">Performance data</span>
                    </a>
                </dt>
                <dd class="govuk-summary-list__actions">
                    Not started
                </dd>
            </div>
        </dl>

        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="submit">
            <button class="govuk-button" data-module="govuk-button">
                Submit application
            </button>
        </a>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Deadline</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">25 March at 11.59pm</p>

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Application</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">EEF18453SA</p>

        </aside>

        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey">Downloads</p>
            <p class="govuk-body-m govuk-!-margin-bottom-3"><a class="govuk-link" href="#">Download the guidance</a></p>
            <p class="govuk-body-m"><a class="govuk-link" href="#">Download supporting documents</a></p>

            <a asp-controller="Report" asp-action="GeneratePdf">
                <button class="govuk-button govuk-button--secondary" type="button">
                    Download your application
                </button>
            </a>
        </aside>

    </div>

</div>
