@using OrchardCore.ContentManagement;
@using INZFS.MVC.ViewModels;

<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-experience">
    Back
</a>

<h1>Upload Experience and Skills</h1>

<a href="summary" role="button" draggable="false" class="govuk-button " data-module="govuk-button">
    Continue
</a>