@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers
<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details">
    Back
</a>

<h1>Upload Project Plan</h1>

<form asp-action="Create" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">
    <input type="hidden" name="contentType" value="ApplicationDocument" />
    <input type="hidden" name="contentTypeProperty" value="ProjectPlan" />
    <input type="hidden" name="nextPage" value="project-experience" />

    <div class="govuk-form-group" id="hideForm">
        @*<label class="govuk-label" asp-for="FileUploadPath">
                Upload a file
            </label>*@
        <input class="govuk-file-upload" type="file" name="file" />
    </div>
    <div class="edit-item-secondary group">
        <div class="edit-item-actions form-group">
            <button type="submit" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">Continue</button>
        </div>
    </div>
</form>
