@using OrchardCore.ContentManagement;
@using INZFS.MVC.ViewModels;

<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details">
    Back
</a>

<h1>Upload Project Plan</h1>

<a href="project-experience" role="button" draggable="false" class="govuk-button " data-module="govuk-button">
    Continue
</a>