@model INZFS.Templates.ViewModels.DisplayTextFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}
<div class="govuk-details__text">
    <h1>Gov Uk test</h1>
</div>

<div class="govuk-inset-text">Inset Text</div>
<p1>Test</p1>

<div>
    @Model.Text
</div>