<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You've told us you are not eligible to apply for funding</h1>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">If you are unsure whether you are eligible for funding, you can take the <a class="govuk-link" href="eligibility-start.html">‘Check if EEF is the right fund for you’</a> questionnaire.</p>
        <p class="govuk-body">You will not be able to submit an application if you tell us you are not eligible.</p>
        <p class="govuk-body govuk-!-margin-bottom-3">You may still be able to apply for funding from <a class="govuk-link" href="#">another source.</a></p>

        <h2 class="govuk-heading-m">Guidance on eligibility</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>At least 50% of your proposed project’s activities need to take place in the United Kingdom.</li>
            <li>You can not have unsuccessfully applied for BEIS funding for a project on more than two previous occasions.</li>
            <li>Your innovation must have passed the initial research stage, if your innovation isn’t at the required stage you may not be eligible for EEF support yet.</li>
            <li>The maximum grant available to successful applicants via the EEF is £1 million</li>
            <li>You need to be able to match fund at least 10% of your project’s total cost to be eligible for support.</li>
            <li>Your project must address either the Government’s 2030 Net Zero carbon targets, or the security of the UK energy supply.</li>
        </ul>


        <h2 class="govuk-heading-m">Additional support</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">If you need further help, you can check our frequently asked questions or send us an email with your questions to: <a href="#">entrepreneur@beis.gov.uk</a></p>

        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="application-overview">
            <button class="govuk-button" data-module="govuk-button">
                Return to application overview
            </button>
        </a>

    </div>

</div>