@model INZFS.Theme.ViewModels.RegistrationViewModel
@{
    ViewLayout = "LayoutRegistration";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../index.html">Energy Entrepeneurs Fund 8B</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    Register an account
                </li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter"></div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var key in ViewData.ModelState.Keys)
                {
                    var value = ViewData.ModelState[key];
                    foreach (var error in value.Errors)
                    {
                        <li>
                            <a href="#@key">@error.ErrorMessage</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Create an account</h1>
                <p class="govuk-body-l">You'll need to create an account to start an application.</p>



                <div class="govuk-form-group" asp-validation-error-class-for="Email">
                    <label class="govuk-label">
                        Email address
                    </label>
                    <div id="email-hint" class="govuk-hint">
                        We need your email so we can sign you in
                    </div>
                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    <input type="email" asp-for="Email" class="govuk-input govuk-input--width-20" asp-validation-govuk-for="Email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" />
                </div>

                <div class="govuk-form-group" asp-validation-error-class-for="ConfirmEmail">
                    <label class="govuk-label" for="emailconfirm">
                        Email address confirmation
                    </label>
                    <div id="emailconfirm-hint" class="govuk-hint">
                        Please confirm your email for us
                    </div>
                    <span asp-validation-for="ConfirmEmail" class="govuk-error-message"></span>
                    <input asp-for="ConfirmEmail" asp-validation-govuk-for="ConfirmEmail" type="email"  class="govuk-input govuk-input--width-20" spellcheck="false" aria-describedby="emailconfirm-hint" autocomplete="emailconfirm">
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2" asp-validation-error-class-for="Password">
                    <label class="govuk-label" for="password">
                        Create your password
                    </label>
                    <div id="create-password-hint" class="govuk-hint">
                        Your password must:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>be atleast 8 characters</li>
                            <li>be a mixture of upper and lower case</li>
                            <li>not include commonly used passwords</li>
                        </ul>
                    </div>
                    <span asp-validation-for="Password" class="govuk-error-message"></span>
                    <div class="show-password__input-wrapper govuk-!-margin-bottom-6">
                        <input asp-for="Password" asp-validation-govuk-for="Password" type="password" class="govuk-input govuk-input--width-20"  aria-describedby="create-password-hint" spellcheck="false">
                        <button class="show-password__toggle" aria-controls="password-create" type="button" aria-label="Show password" id="buttonText" onclick="createPassword()">Show</button>
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>

                </div>



                <div class="govuk-form-group govuk-!-margin-bottom-6" asp-validation-error-class-for="ConfirmPassword">

                    <label for="create-password" class="govuk-label"> Confirm your password</label>
                    <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                    <div class="show-password__input-wrapper">
                        <input  asp-for="ConfirmPassword" asp-validation-govuk-for="ConfirmPassword" type="password" class="govuk-input govuk-input--width-20"  spellcheck="false">
                        <button class="show-password__toggle" aria-controls="password-confirm" type="button" aria-label="Show password" id="buttonText1" onclick="confirmPassword()">Show</button>
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>

                </div>

                <button class="govuk-button" data-module="govuk-button">Register</button>
                
                <p class="govuk-body-s"><a class="govuk-link" href="accountSignIn.html">Already have an account?</a></p>
                <p class="govuk-body-s"><a class="govuk-link" href="#">Need help signing in or creating an account?</a></p>

            </div>

        </div>
    </form>
</main>

<script type="text/javascript">


    function createPassword() {
        var x = document.getElementById("password-create");
        if (x.type === "password") {
            x.type = "text";
            document.getElementById("buttonText").innerHTML = "Hide";
        } else {
            x.type = "password";
            document.getElementById("buttonText").innerHTML = "Show";
        }
    }

    function confirmPassword() {
        var x = document.getElementById("password-confirm");
        if (x.type === "password") {
            x.type = "text";
            document.getElementById("buttonText1").innerHTML = "Hide";
        } else {
            x.type = "password";
            document.getElementById("buttonText1").innerHTML = "Show";
        }
    }

</script>

