
@model ApplicationStatusPart
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers



<input type="hidden" name="contentType" value="ApplicationStatus" />





<div class="govuk-form-group">
    <label class="govuk-label" for="sort">
        Application Status 
    </label>
    <select class="govuk-select" asp-for="ApplicationSatatus">
        <option value="@Status.Approved" selected>Approve</option>
        <option value="@Status.Rejected">Reject</option>

    </select>
</div>