
@model CompanyDetailsViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers



<input type="hidden" name="contentType" value="CompanyDetails" />

<div class="govuk-form-group" asp-validation-error-class-for="CompanyName">
    <label class="govuk-label govuk-label--l" asp-for="CompanyName">
    </label>
    <span asp-validation-for="CompanyName" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="CompanyName" spellcheck="false" aria-describedby="name-hint">
</div>


<div class="govuk-form-group" asp-validation-error-class-for="CompanyNumber">
    <label class="govuk-label govuk-label--l" asp-for="CompanyNumber">
    </label>
    <span asp-validation-for="CompanyNumber" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="CompanyNumber" spellcheck="false" aria-describedby="name-hint">
</div>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Writing well for the web
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This is the content for Writing well for the web.</p>
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Writing well for specialists
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>This is the content for Writing well for specialists.</p>
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Know your audience
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>This is the content for Know your audience.</p>
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    How people read
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
        </div>
    </div>
</div>

<script src="/javascripts/vendor/iframeResizer.contentWindow.js"></script>
<script src="/javascripts/govuk-frontend-742fa5a510a9c8f6d5329e57467e60c7.js"></script>
<script src="/javascripts/example-149b2c1c72d42e5afd271c8a89fed638.js"></script>