
@model CompanyDetailsViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers



<input type="hidden" name="contentType" value="CompanyDetails" />

<div class="govuk-form-group" asp-validation-error-class-for="CompanyName">
    <label class="govuk-label govuk-label--l" asp-for="CompanyName">
    </label>
    <span asp-validation-for="CompanyName" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="CompanyName" spellcheck="false" aria-describedby="name-hint">
</div>


<div class="govuk-form-group" asp-validation-error-class-for="CompanyNumber">
    <label class="govuk-label govuk-label--l" asp-for="CompanyNumber">
    </label>
    <span asp-validation-for="CompanyNumber" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="CompanyNumber" spellcheck="false" aria-describedby="name-hint">
</div>

@Html.Partial("_Help")

