@* As you can see the model here is the view model object this time not a ShapeViewModel<T>. *@

@model OrgFundingViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers

<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-details">
    Back
</a>

<input type="hidden" name="contentType" value="OrgFundingPart" />

<div class="govuk-form-group" asp-validation-error-class-for="AtLeastOneOptionSelected">
    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                How is the organisation currently funded? (Choose all that apply)
            </h1>
        </legend>
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="NoFunding" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="NoFunding">
                    No Funding
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="Funders" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="Funders">
                    Funders (including bank loans)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="FriendsAndFamily" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="FriendsAndFamily">
                    Friends and Family
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="PublicSectorGrants" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="PublicSectorGrants">
                    Public Sector Grants
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="AngelInvestment" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="AngelInvestment">
                    Angel Investment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="VentureCapital" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="VentureCapital">
                    Venture Capital
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="PrivateEquity" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="PrivateEquity">
                    Private Equity
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" asp-for="StockMarketFlotation" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" asp-for="StockMarketFlotation">
                    Stock Market Flotation
                </label>
            </div>
        </div>

    </fieldset>
</div>