@* As you can see the model here is the view model object this time not a ShapeViewModel<T>. *@

@model ProjectProposalDetailsViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers
@using INZFS.MVC.ViewModels.ProposalWritten

@{
    var sampleDate = DateTime.Now.AddDays(30);
}

<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="org-funding">
    Back
</a>

<input type="hidden" name="contentType" value="ProjectProposalDetails" />

<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
    <div class="govuk-form-group" asp-validation-error-class-for="InnovationImpactSummary">
        <label class="govuk-label govuk-label--l" asp-for="InnovationImpactSummary">
        </label>
        <span asp-validation-for="InnovationImpactSummary" class="govuk-error-message"></span>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" asp-for="InnovationImpactSummary" rows="5" aria-describedby="summary-hint"></textarea>

        <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 200 characters
        </div>
    </div>
</div>

<div class="govuk-form-group" asp-validation-error-class-for="ProjectEndDateUtc">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="estimated-project-end-date">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Estimated Project End Date
        </legend>
        <div id="estimated-project-end-date-hint" class="govuk-hint">
            For example, @sampleDate.Day @sampleDate.Month @sampleDate.Year
        </div>
        <div class="govuk-date-input" id="estimated-project-end-date">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-project-end-date-day">
                        Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-project-end-date-month">
                        Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-project-end-date-year">
                        Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="Year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
        </div>

    </fieldset>
</div>
