@* As you can see the model here is the view model object this time not a ShapeViewModel<T>. *@

@model ProjectDetailsViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models

@* Nothing special here regarding the editor fields. However, notice that the Biography (ContentField) editor is not
    here, because (as mentioned) it has its own editor and display shape so no need to worry about that. *@



<div class="govuk-form-group" asp-validation-class-for="Summary">
    <label class="govuk-label" asp-for="Summary">
    </label>
    @*<div id="summary-hint" class="govuk-hint">
            @T["Project Summary"]
        </div>*@
    <span asp-validation-for="Summary" class="govuk-error-message"></span>
    <textarea class="govuk-textarea" asp-for="Summary" rows="5" aria-describedby="summary-hint"></textarea>
</div>

<div class="govuk-form-group" asp-validation-class-for="Timing">
    <label class="govuk-label" asp-for="Timing">
    </label>
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" asp-for="Timing" type="radio" value="1">
                <label class="govuk-label govuk-radios__label" asp-for="Timing">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" asp-for="Timing" type="radio" value="0">
                <label class="govuk-label govuk-radios__label" asp-for="Timing">
                    No
                </label>
            </div>
        </div>
    </fieldset>
</div>