@* As you can see the model here is the view model object this time not a ShapeViewModel<T>. *@

@model ProjectSummaryViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models

@* Nothing special here regarding the editor fields. However, notice that the Biography (ContentField) editor is not
    here, because (as mentioned) it has its own editor and display shape so no need to worry about that. *@



<div class="govuk-form-group" asp-validation-class-for="Name">
    <label class="govuk-label" asp-for="ProjectName">
    </label>
    @*<div id="name-hint" class="govuk-hint">
        @T["Project name"]
    </div>*@
    <span asp-validation-for="ProjectName" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="ProjectName" spellcheck="false" aria-describedby="name-hint">
</div>

<div class="govuk-form-group" asp-validation-class-for="EstimatedStartDateUtc">
    <label class="govuk-label" asp-for="EstimatedStartDateUtc">
    </label>
    @*<div id="estimated-start-hint" class="govuk-hint">
        @T["Estimated Start date"]
    </div>*@
    <span asp-validation-for="EstimatedStartDateUtc" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" type="date" asp-for="EstimatedStartDateUtc" aria-describedby="estimated-start-hint">
</div>

